*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
/* .header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, grey,beige);
    font-weight: 700;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-link{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: relative;
    transition: color 0.3 ease;
}
.header-link:hover {
    color: brown;
}
.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: brown;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.header-logo{
    border-radius: 15px;
}
.header-profile{
    border: 1px solid black;
    padding: 12px 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease,border-color 0.3s ease,  transform 0.3s ease;
}
.header-profile:hover {
    background-color: burlywood;
    border-color: brown;
    transform: scale(1.1);
}
.language-main{
    font-size: 30px;
    position: relative;
    transition: color 0.3 ease;
    cursor: pointer;
}
.language-main:hover {
    color: brown;
}
.language-main::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: brown;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.language-main:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.language-part{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 10px;
    gap: 5px;
    font-size: 30px;
    position: absolute;
    top: 7vh;
    left: 71.2%;
}
.active{
    display: none;
}
.button-AZ, .button-EN, .button-RU{
    width: 100%;
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}
.button-AZ:hover,
.button-EN:hover,
.button-RU:hover{
    transform: scale(1.08);
    background-color: darkgrey;
    color: white;
} */
/* .home-image{
    height: 876px;
} */
.home-image1{
    width: 100%;
}
.main-info{
    position: absolute;
    width: 700px;
    height: 270px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 35vh;
    left: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 4px 6px rgba(0, 0, 0, 0.1);
}
.welcome-header{
    font-size: 65px;
    text-align: center;
    padding: 15px;
}
.welcome-part{
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.section2{
    width: 100%;
    height: 610px;
    background-color: rgb(255, 246, 233);
    box-shadow: 0px 0px 31px 9px rgba(0, 0, 0, 0.45);
}
.section2-about{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    padding: 20px;
    color: saddlebrown;
}
.ofisiant{
    padding: 20px 0px;
    margin-right: 20px;
    margin: 0 auto;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.5s ease-in-out;
    
}
.ofisiant-img{
    box-shadow: 0px 0px 31px 9px rgba(0,0,0,0.75);
    width: 600px;
    transition: transform 0.3s ease;
}
.forAbout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 77px;
}
.section2-info{
    width: 800px;
    font-size: 27px;
    text-align: center;
    padding: 40px 0px 60px 40px;
}
.ofisiant1-img:hover{
    transform: scale(1.08);
}
 .background{
    width: 100%;
    height: 650px;
 }
.section3-container2{
    width: 100%;
    height: 650px;
    background: url(./img/image1/backgroundForMenu.png);
    background-size: cover; /* Şəkilin div-i tam örtməsini təmin edir */
    background-repeat: no-repeat;
    /* position: absolute; */
    background-color: rgba(255, 255, 255, 0.6);
    top: 1486px;
}
.section3-header{
    font-size: 70px;
    text-align: center;
    padding: 20px;
    color: saddlebrown;
}
.section3-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section3-text1{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    padding: 50px 40px 40px;
}
.section3-text2{
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    padding: 0px 40px;
}
.section3-part2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 75px;
    column-gap: 50px;
    padding: 60px 17px;
}
.part2-item{
    width: 260px;
}
.part2-item-header{
    font-size: 40px;
    text-align: center;
    font-weight:700;
}
.part2-item-main{
    font-size: 25px;
    text-align: center;
    font-weight:500;
}
.go-to-menu{
    position: relative;
    width: 300px;
    height: 80px;
    padding: 0px;
    margin: 37px 0px 0px 15px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    z-index: 1;
    color: #ffffff;
    background-color: rgba(139, 69, 19, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
.go-to-menu i {
    margin-left: 8px;
}

.go-to-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 207, 110, 0.8);
    z-index: -1;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.go-to-menu:hover::after {
    transform: translateX(0);
    background: rgba(255, 207, 110, 0.8);
}
.section4{
    width: 100%;
    height: 680px;
}
.section4-header{
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    padding: 20px 40px 5px;
    color: saddlebrown;
}
.section4-container{
    display: flex;
    margin: 50px;
    gap: 150px;
}
.section4-item1-img{
    width: 600px;
}
.section4-text1{
    font-size: 28px;
    text-align: center;
}
.section4-item1{
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease-in-out;
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.5);
    height: 400px;
}
.visible {
    opacity: 1;
    transform: translateX(0);
}
.section4-types{
    text-align: center;
    font-size: 30px;
    font-weight: 900;

}
.section4-types-container{
    display: flex;
    flex-wrap: wrap;
}
.section4-types-item{
    padding:20px 30px;
    font-size: 25px;
}
.section4-types-item-header{
    font-size: 26px;
    font-weight: bold;
}
.btn-reservation{
    margin: 20px 0px 0px 400px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: saddlebrown;
    transition: transform 0.3s ease;

}
.btn-reservation:hover{
    background-color: peru;
    transform: scale(1.08);
}

.section5 {
    background-color: rgb(250, 250, 250);
    height: 550px;
}
  
.section5-header {
    font-size: 70px;
    text-align: center;
    color: saddlebrown;
    padding: 20px;
}
.display-for-carousel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 180px; */
    /* margin: 40px; */
}

.carousel-item {
    background-color: rgb(255, 234, 218);
    border-radius: 8px;
    padding: 30px;
    margin: 12px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 230px;
    display: none;
}

.carousel-item.active {
    display: block;
}

.comment-author {
    font-weight: bold;
    margin-top: 8px;
    font-size: 30px;
}

.comment-text {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    color: black;
    padding-bottom: 10px;
}

.comment-stars {
    font-size: 30px;
    color: #f4b400;
}

.carousel-button {
    background-color: saddlebrown;
    color: white;
    border: none;
    width: 50px;
    height: 120px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
}

.carousel-button:hover {
    background-color: #4b2c1e;
}
.footer-header{
    font-size: 70px;
    color: saddlebrown;
    text-align: center;
}
.footer-container{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 246, 233);
}
.footer-items{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px;
    align-items: center;
    gap: 200px;
}
.restaurant-name{
    font-size: 30px;
    font-style: oblique;
    font-weight: 600;
}
.address , .additional , .phone , .social{
    font-size: 25px;
    padding-top: 15px;
    color: #7e4b33;
}
.address-text , .additional-text , .social-text , .phone-text{
    font-size: 20px;
    color: rgb(56, 56, 56);
    padding-top: 15px;
}
.social{
    display: flex;
}
.social-name{
    padding-left: 20px;
}
.forFooter{
    display: flex;
    gap: 30px;
}

@media (min-width:1431px) and (max-width:1600px){
    .main-info{
        border-top-left-radius: 90px;
        border-bottom-right-radius: 90px;
        width: 600px;
        height: 250px;
    }
    .welcome-header{
        font-size: 55px;
        padding: 13px;
    }
    .ofisiant{
        padding: 60px 0px;
    }
    .section2-about{
        font-size: 60px;
    }
    .forAbout{
        gap: 20px;
    }
    .section2-info{
        width: 600px;
        font-size: 24px;
    }
    .ofisiant-img{
        width: 500px;
    }
    .section3-header{
        font-size: 55px;
    }
    .section3-text1{
        font-size: 35px;
        padding: 20px 40px 40px;
    }
    .section3-part2{
        padding: 30px 17px;
    }
    .part2-item-header{
        font-size: 35px;
    }
    .section4{
        height: 600px;
    }
    .section4-header{
        font-size: 55px;
    }
    .btn-reservation {
        margin: 0px 0px 0px 400px;   
    }
    .section4-item1-img{
        width: 500px;
    }
    .section4-item1{
        height: 330px;
    }
    .section4-types-item{
        padding: 10px 30px;
    }
    .btn-reservation{
        margin: 10px 0px 0px 400px;
    }
    .section5-header{
        font-size: 55px;
    }
    .section5{
        height: 500px;
    }
}
@media (min-width:1000px) and (max-width:1431px){
    .main-info{
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        width: 500px;
        height: 250px;
        left: 45%;
        top: 37vh;
    }
    .welcome-header{
        font-size: 45px;
        padding: 13px;
    }
    .ofisiant{
        margin: -107px auto 0px;
        padding: 0px;
    }
    .section2{
        height: 630px;
    }
    .forAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section2-info{
        font-size: 20px;
        padding: 15px 40px 0px 40px;
    }
    .ofisiant-img{
        width: 500px;
    }
    .section2-about{
        font-size: 45px;
        padding: 20px 20px 0px;
    }
    .section2-info{
        width: 100%;
    }
    .section3-container2{
        background-size: 100% 150%;
        height: 600px;
    }
    .section3-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr;
    }
    .section3-header{
        font-size: 45px;
    }
    .section3-text1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 40px 20px;
    }
    .section3-text2{
        line-height: 30px;
    }
    .section3-part2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 75px;
        column-gap: 50px;
        padding: 20px 17px;
    }
    .part2-item-header , .part2-item-main{
        font-size: 20px;
    }
    .section4-container{
        gap: 0px;
    }
    .section4-item1-img {
        width: 460px;
    }
    .section4-item1{
        height: 300px;
        margin-top: 20px;
    }
    .section4-header{
        font-size: 45px;
    }
    .section4-text1{
        font-size: 25px;
    }
    .section4-types{
        font-size: 25px;
    }
    .section4-types-item{
        font-size: 20px;
    }
    .btn-reservation{
        margin: 0px 0px 0px 320px;   

    }
    .section5-header{font-size: 45px;}
    .footer-header{font-size: 45px;}
}
@media (min-width:700px) and (max-width:1000px){
    .main-info{
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        width: 450px;
        height: 230px;
        left: 32%;
        top: 20vh;
    }
    .welcome-header{
        font-size: 40px;
        padding: 13px;
    }
    .ofisiant{
        margin: -80px auto 0px;
        padding: 0px;
    }
    .section2{
        height: 680px;
    }
    .forAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section2-info{
        font-size: 20px;
        padding: 15px 40px 0px 40px;
    }
    .ofisiant-img{
        width: 500px;
    }
    .section2-about{
        font-size: 45px;
        padding: 20px 20px 0px;
    }
    .section2-info{
        width: 100%;
    }
    .section3-container2{
        background-size: 100% 150%;
        height: 820px;
    }
    .section3-main{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 0.5fr 2fr;
    }
    .section3-header{
        font-size: 45px;
    }
    .section3-text1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 40px 20px;
    }
    .section3-text2{
        line-height: 25px;
    }
    .section3-part2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 75px;
        /* column-gap: 50px; */
        padding: 50px;
    }
    .section4-item1{
        display: none;
    }
    .part2-item-header , .part2-item-main{
        font-size: 20px;
    }
    .section4-container{
        gap: 0px;
    }
    .section4-item1-img {
        width: 460px;
    }
    .section4-item1{
        height: 300px;
        margin-top: 20px;
    }
    .section4-header{
        font-size: 45px;
    }
    .section4-text1{
        font-size: 25px;
    }
    .section4-types{
        font-size: 25px;
    }
    .section4-types-item{
        font-size: 20px;
    }
    .part2-item{
        width: 220px;
    }
    .btn-reservation{
        margin: 0px 0px 0px 320px;   
    }
    .go-to-menu{
        width: 220px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .section5-header{font-size: 45px;}
    .footer-header{font-size: 45px;}
    .footer-items{
        gap: 30px;
    }
}

@media (min-width:300px) and (max-width:400px){
    .main-info{
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 200px;
        height: 100px;
        left: 30%;
        top: 12vh;
    }
    .welcome-header{
        font-size: 18px;
        padding: 13px 13px 2px;
    }
    .welcome-part{
        font-size: 14px;
        padding-top: 2px;
    }
    .ofisiant{
        margin: -80px auto 0px;
        padding: 0px;
    }
    .section2{
        height: 50vh;
    }
    .forAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section2-info{
        font-size: 14px;
        padding: 1px 20px 0px 20px;
    }
    .ofisiant-img{
        width: 500px;
    }
    .section2-about{
        font-size: 20px;
        padding: 5px 5px 0px;
    }
    .section2-info{
        width: 100%;
    }
    .section3-container2{
        background-size: 100% 150%;
        height: 750px;
    }
    .section3-main{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 0.5fr 2fr;
    }
    .section3-header{
        font-size: 20px;
        padding: 5px;
    }
    .section3-text1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 40px 20px;
    }
    .section3-text2{
        line-height: 20px;
        font-size: 16px;
        width: 300px;
    }
    .section3-part2 {
        display: grid;
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        padding: 10px 50px;
    }
    .visible{
        display: none;
    }
    .part2-item-header , .part2-item-main{
        font-size: 14px;
    }
    .section4-container{
        gap: 0px;
    }
    .section4-item1-img {
        width: 460px;
    }
    .section4-item1{
        height: 300px;
        margin-top: 20px;
    }
    .section4-header{
        font-size: 20px;
    }
    .section4-text1{
        font-size: 18px;
    }
    .section4-types{
        font-size: 18px;
    }
    .section4-types-item-header {
        font-size: 18px;
        font-weight: bold;
    }
    .section4-item2{
        margin: 0px;
        width: 300px;
    }
    .section4-types-item{
        font-size: 16px;
    }
    .part2-item{
        width: 220px;
    }
    .btn-reservation{
        margin: 0px 0px 0px 120px;   
        width: 150px;
        font-size: 18px;
    }
    .go-to-menu{
        width: 220px;
        margin-left: 0px;
        margin-top: 0px;
        height: 30px;
        font-size: 18px;
    }
    .section5-header{font-size: 20px;}
    .footer-header{font-size: 25px;}
    .footer-items{
        gap: 30px;
    }
    .carousel-item{
        width: 200px;
        height: 200px;
    }
    .comment-text{
        font-size: 16px;
    }
    .comment-author, .comment-stars{
        font-size: 18px;
    }
    .carousel-button{
        width: 26px;
        height: 80px;
        font-size: 18px;
    }
    .footer-items{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .restaurant-name{
        font-size: 18px;
    }
    .address, .additional, .phone, .social {
        font-size: 16px;
        padding-top: 5px;
        color: #7e4b33;
    }
    .address-text, .additional-text, .social-text, .phone-text {
        font-size: 14px;
        color: rgb(56, 56, 56);
        padding-top: 5px;
    }
    .section3-part1{
        width: 300px;
    }
    .section5{
        height: 400px;
    }
    .btn-reservation {
        margin: 0px 0px 0px 100px;
        width: 150px;
        font-size: 11px;
        height: 54px;
    }
}


@media (min-width:400px) and (max-width:700px){
    .main-info{
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 200px;
        height: 100px;
        left: 30%;
        top: 12vh;
    }
    .welcome-header{
        font-size: 18px;
        padding: 13px 13px 2px;
    }
    .welcome-part{
        font-size: 14px;
        padding-top: 2px;
    }
    .ofisiant{
        margin: -80px auto 0px;
        padding: 0px;
    }
    .section2{
        height: 40vh;
    }
    .forAbout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section2-info{
        font-size: 14px;
        padding: 1px 20px 0px 20px;
    }
    .ofisiant-img{
        width: 500px;
    }
    .section2-about{
        font-size: 20px;
        padding: 5px 5px 0px;
    }
    .section2-info{
        width: 100%;
    }
    .section3-container2{
        background-size: 100% 150%;
        height: 670px;
    }
    .section3-main{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 0.5fr 2fr;
    }
    .section3-header{
        font-size: 20px;
        padding: 5px;
    }
    .section3-text1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 40px 20px;
    }
    .section3-text2{
        line-height: 20px;
        font-size: 16px;
        width: 400px;
    }
    .section3-part2 {
        display: grid;
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        padding: 10px 50px;
    }
    .visible{
        display: none;
    }
    .part2-item-header , .part2-item-main{
        font-size: 14px;
    }
    .section4-container{
        gap: 0px;
    }
    .section4-item1-img {
        width: 460px;
    }
    .section4-item1{
        height: 300px;
        margin-top: 20px;
    }
    .section4-header{
        font-size: 20px;
    }
    .section4-text1{
        font-size: 18px;
    }
    .section4-types{
        font-size: 18px;
    }
    .section4-types-item-header {
        font-size: 18px;
        font-weight: bold;
    }
    .section4-item2{
        margin: 0px;
        width: 300px;
    }
    .section4-types-item{
        font-size: 16px;
    }
    .part2-item{
        width: 220px;
    }
    .btn-reservation{
        margin: 0px 0px 0px 120px;   
        width: 150px;
        font-size: 18px;
    }
    .go-to-menu{
        width: 220px;
        margin-left: 0px;
        margin-top: 0px;
        height: 30px;
        font-size: 18px;
    }
    .section5-header{font-size: 20px;}
    .footer-header{font-size: 25px;}
    .footer-items{
        gap: 30px;
    }
    .carousel-item{
        width: 200px;
        height: 200px;
    }
    .comment-text{
        font-size: 16px;
    }
    .comment-author, .comment-stars{
        font-size: 18px;
    }
    .carousel-button{
        width: 26px;
        height: 80px;
        font-size: 18px;
    }
    .footer-items{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .restaurant-name{
        font-size: 18px;
    }
    .address, .additional, .phone, .social {
        font-size: 16px;
        padding-top: 5px;
        color: #7e4b33;
    }
    .address-text, .additional-text, .social-text, .phone-text {
        font-size: 14px;
        color: rgb(56, 56, 56);
        padding-top: 5px;
    }
    .section3-part1{
        width: 300px;
    }
    .section5{
        height: 400px;
    }
} 