@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", serif;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.3);

}
.language-main{
    font-size: 39px;
    position: relative;
    transition: color 0.3 ease;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.language-main:hover {
    color: blue;
}
.language-main::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: blue;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.language-main:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.language-part{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 10px;
    gap: 5px;
    font-size: 30px;
    position: absolute;
    top: 9vh;
    left: 64%;
    z-index: 100;
}
.active{
    display: none;
}
.button-AZ, .button-EN, .button-RU{
    width: 100%;
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}
.button-AZ:hover,
.button-EN:hover,
.button-RU:hover{
    transform: scale(1.08);
    background-color: darkgrey;
    color: white;
}
.main-container{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
}
.main-item{
    width: 450px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;
}
.main-item:hover{
    transform: scale(1.04);
}
.main-item-head{
    width: 100%;
    height: 50px;
    background-color: #007bff;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.plan{
    text-align: center;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0px;
}
.premium{
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.check-main{
    padding: 30px 0px 0px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fa-regular{
    color: green;
    font-size: 25px;
    font-weight: 900;
}
.check-div{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.money{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0056b3;
    padding: 0px;
}
.subscribe{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(45deg, blue, darkviolet);
    color: white;
    border-radius: 15px;
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;
}
.subscribe:hover{
    background: linear-gradient(45deg,darkviolet,blue);
    transform: scale(1.08);
}
.subscribe1{
    margin: 87px 0px 0px 0px;
}
.subscribe2{
    margin: 123px 0px 0px 0px;
}
.subscribe3{
    margin: 50px 0px 0px 0px;
}
.subs-div{
    display: flex;
    justify-content: center;
}


@media(min-width:600px) and (max-width:1496px){
    .main-container{
        gap: 20px;
        flex-wrap: wrap;
    }
}
@media(min-width:300px) and (max-width:600px){
    .main-container{
        gap: 20px;
        flex-wrap: wrap;
    }
    .main-item{
        width: 70vw;
        height: 500px;
    }
    .main-item-head{
        height: 40px;
    }
    .premium,.language-main{
        font-size: 30px;
    }
    .plan{
        font-size: 1.5em;
    }
    .money{
        font-size: 1.2em;
    }
    .check-div{
        font-size: 0.8em;
    }
    .subscribe1{
        margin: 67px 0px 0px 0px;
    }
    .subscribe2{
        margin: 80px 0px 0px 0px;
    }
    .subscribe3{
        margin: 30px 0px 0px 0px;
    }
    .check-main{
        padding: 15px 0px 0px 20px;
    }
}